* {
	box-sizing: border-box;
}

body {
	background: #2AA3F0;
}

#recent-searches {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.header {
	background: url("../images/header-people.jpg");
}

.jumbotron {
	padding: 0.5em 0.6em;
	text-align: center;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.70);
  color: white;
  margin-bottom: 30px;

}

img {
	max-width:100%;
	max-height:100%;
}