* {
	box-sizing: border-box;
}

body {
	background: #2AA3F0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 18px;
	line-height: 34px;
}

#location-search-input {
	width: 80%;
}

#recent-searches {
	overflow: hidden;
}

#trending-topics {
	text-align: center;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#overall-sentiment {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#popular-tweets {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#recent-tweets {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.row {
	margin-bottom: 10px;
}

section {
	background: url("../images/header-people.jpg");
	padding: 50px;
}

.jumbotron {
	text-align: center;
  background: rgb(100, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.80);
  color: white;
  position: relative;
  overflow: hidden;
}

.btn {
	margin-bottom: 4px;
}

h1 {
	margin-bottom: 0px
}

img {
	max-width:100%;
	max-height:100%;
}


/*#recent-div, #sentiment-div, #popular-div {
	visibility: hidden;
}*/