* {
	box-sizing: border-box;
}

body {
	background: #2AA3F0;
	font-family: 'Arima Madurai', cursive;

}

#recent-searches {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}
.input-group{
	position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%)
}

section {
	background: url("../images/header-people.jpg");
}
.wrapper {
  padding: 20px 0;
  max-width: 1360px;
  margin: 0 auto; }

.jumbotron {
	padding: 0.5em 0.6em;
	text-align: center;
  background: rgb(100, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.70);
  color: white;
  margin-bottom: 30px;

}

img {
	max-width:100%;
	max-height:100%;
}